/* Default styles */
body {
  font-family: Arial, sans-serif;
  background-color: grey;
  margin: 0;
  padding: 0;
}

#app {
  max-width: 800px;
  padding: 20px;
  background: #924141be;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  border-radius: 10px;
}

header {
  text-align: center;
  background-color: #ff6b6b;
  color: white;
  padding: 20px 0;
  border-radius: 10px 10px 0 0;
}

main {
  padding: 20px;
}

#habit-form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

#habit-form input, #habit-form button {
  padding: 10px;
  font-size: 16px;
  margin-right: 10px;
}

#habit-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.habit-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  width: calc(25% - 20px);
  text-align: center;
  background: #ff6b6b;
  color: white;
}

.habit-card img {
  max-width: 100px;
  margin-bottom: 10px;
}

.habit-card button {
  background: white;
  color: #ff6b6b;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 10px;
}

.habit-card button:hover {
  background: #ff6b6b;
  color: white;
}

/* Media Queries */
@media only screen and (max-width: 800px) {
  #app {
    padding: 10px;
  }

  .habit-card {
    width: calc(33.33% - 20px);
  }
}

@media only screen and (max-width: 600px) {
  #habit-form {
    flex-direction: column;
    align-items: stretch;
  }

  #habit-form input, #habit-form button {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .habit-card {
    width: calc(50% - 20px);
  }
}

@media only screen and (max-width: 400px) {
  .habit-card {
    width: calc(100% - 20px);
  }
}
